<!DOCTYPE html>
<html>
<head>
    <title>Rango</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Rango says...</h1>
    <h2>Categories</h2>
            <p><a href="{% url 'rango:add_category' %}">Add a New Category</a></p>


{% if categories %}
<ul>
    {% for c in categories %}
        <li>
            <a href="{% url 'rango:show_category' c.slug %}">{{ c.name }}</a>
            (views: {{ c.views }}, likes: {{ c.likes }})
        </li>

    {% endfor %}
</ul>

{% else %}
<strong>There are no categories present.</strong>
{% endif %}
    <p>Hello world!</p>
</body>
</html>
